<ion-header>
  <ion-toolbar>
    <ion-title>BeerPedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher enabled={{pullToRefresh}} (ionRefresh)="refreshBeerList($event)">
    <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="beers.length">
    <ion-list *ngFor="let beer of beers">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="">
          </ion-avatar>
          <h2>{{ beer.beer_name}}</h2>
        </ion-item>

        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="!beers.length">
    <ion-card>
      <ion-card-content>
        <ion-icon name="sad" item-start></ion-icon>
        It looks like there is no beer yet... Try to refresh the list by swipping down or had a new one by yourself!
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="add">
      </ion-icon>
    </button>
  </ion-fab>
</ion-content>
