<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BeerPedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher enabled={{pullToRefresh}} (ionRefresh)="refreshBeerList($event)">
    <ion-refresher-content pullingText="Pull to refresh..." refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-row>
    <ion-col>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-col>
    <ion-col>
      <button ion-button block icon-only (click)="searchByBarcode()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <div *ngIf="beers.length">
    <ion-list *ngFor="let beer of beers">
      <ion-card (click)="openBeerPage(beer)">
        <ion-item>
          <ion-avatar item-start>
            <img src="img/beer-bottle.jpg">
          </ion-avatar>
          <h2>{{ beer.name }}</h2>
        </ion-item>

        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngIf="!beers.length">
    <ion-card>
      <ion-card-content>
        <ion-icon name="sad" item-start></ion-icon>
        It looks like there is no beer yet... Try to refresh the list by swiping down or add a new one by yourself!
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab [navPush]="addBeerPage"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-label text-left (click)="disconnect()">Disconnect</ion-label>
</ion-content>
